.label{
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
.addBtn{
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    width: 90px;
    height: 30px;
    text-align: center;
    background-color: #ffa3b0;
    color: rgb(0, 0, 0);
    border: 3px solid ;
}

.form{
    margin-top: 20px;
    margin-left: 10vh;
    max-width: auto;
}